alembic==1.7.3
greenlet==1.1.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
Mako==1.1.5
MarkupSafe==2.0.1
mysqlclient==2.0.3
psycopg2-binary==2.9.1
SQLAlchemy==1.4.25
typing-extensions==3.10.0.2
zipp==3.6.0
